{{ define "home" }}

    {{template "layout_top" .}}

        <h2>MKS Testing Handbook</h2>
        <p>Welcome to the Matawan School of Martial Arts Martins Karate System Digital Requirements handbook.
        If you would like access to the requirements, please ask Master Charles Dunn to create you an account.</p>

    {{template "layout_bottom" .}}

{{ end }}

