{{ define "home" }}

    {{template "layout_top" .}}

    <h2>Welcome to the MSMA Requirements handbook.
        If you would like to see the school's testing requirements,
        please ask Master Charles Dunn to create you an account.</h2>

    {{template "layout_bottom" .}}

{{ end }}

