{{ define "home" }}

    {{template "layout_top" .}}

        <h2>MKS Testing Handbook</h2>
        <p>Welcome to the Matawan School of Martial Arts Martins Karate System Requirements handbook.
        If you would like to see the school's testing requirements,
        please ask Master Charles Dunn to create you an account.</p>

    {{template "layout_bottom" .}}

{{ end }}

